body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {

}

.logo {

}

.logo img {

}

.logo span {

}

header nav {

}

nav span {

}

a {

}
